/* Colors*/
:root {
    --main-bg-color: #E3ECF3;
    --primary-btn: #EEC449;
    --secondary-btn: #D1D9B5;
    --dark-btn-text: #363D1F;
    --shadow: 16px 12px 0px 0px;
    --border-r-xl: 120px;
    --sunny-s-500: #EAB51C;
    --box-shadow: var(--brand-secondary, #52767A);
    --green-700: #3D585C;
    --main-border: 4px solid #325871;
    --platforms: #3D585C;
    --plank: #9D6284;
    --dark-text: hsla(207, 48%, 15%, 1);
    --pink-400: #B1819D;
    --pink-900:#3F2735;


}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Jersey 25';
    src: url('../CSS/Jersey_25/Jersey25-Regular.ttf') format('truetype');
}

/* Fonts*/
h1,
h2,
a,
span,
p {
    font-family: "Jersey 25", sans-serif;
    font-style: normal;
}
h2{
    color: var(--dark-btn-text);
    padding: 24px;
}

body {
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 56px;
    width: 100vw;
    height: 100vh;
    color: var(--dark-text);

}

#board {
    overflow: hidden;
    height: 100%;
}

#score-container {
    position: fixed;
    top: 24px;
    right: 64px;
    display: flex;
    padding-right: 24px;
    gap: 8px;
    align-items: center;
    border-radius: 120px;
    background-color:var(--sunny-s-500);
    color: var(--pink-900);
    font-family: "Jersey 25", sans-serif;
    font-size: 40px;
    text-align: left;
    box-shadow: var(--shadow) var(--box-shadow);

}
.roundbg {
height: auto;
align-items: center;
border-radius: 50%;
background-color:var(--pink-400) ;
}
#score-container img{
    padding: 4px;
    margin: 8px;
    height: 56px;
    width: auto;
}
#cat {
    z-index: 1000;
    height: 80px;
    width: 80px;
}

.safe-area {
    background-color: var(--platforms);
    border-radius: 24px 24px 0px 0px;
    height: 40%;
    position: absolute;
}

#speech-bubble {
    max-width: 420px;
    width: auto;
    height: auto;
    padding: 16px;
    border: var(--main-border);
    border-radius: 24px;
    background-color: white;
    font-size: 40px;
}