/* Colors*/
:root {
    --main-bg-color: #E3ECF3;
    --primary-btn: #EEC449;
    --secondary-btn: #D1D9B5;
    --dark-btn-text: #363D1F;
    --shadow: 16px 12px 0px 0px;
    --border-r-xl: 120px;
    --sunny-s-500: #EAB51C;
    --box-shadow: var(--brand-secondary, #52767A);
    --green-700: #3D585C;
    --main-border: 2px solid #325871;
    --platforms: #3D585C;
    --plank: #9D6284;
    --dark-text: hsla(207, 48%, 15%, 1);

}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Jersey 25';
    src: url('../CSS/Jersey_25/Jersey25-Regular.ttf') format('truetype');
}

/* Fonts*/
.jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "Jersey 25", sans-serif;
text-transform: uppercase;
}

h1 {
    font-size: 120px;
}

h2 {
    font-size: 32px;
}

a {
    font-family: "Jersey 25", sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 56px;
}

p,span,
li {
    font-family: "Roboto", sans-serif;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 56px;
    width: 100vw;
    height: 100vh;
    color: var(--dark-text);

}
.fill-bg{
    padding: 80px;
    border-radius: 60px;
    text-decoration: underline;
    text-decoration-color: var(--plank);
}
.primary-btn , a {
    display: flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 120px;
    background: var(--sunny-s-500);
    box-shadow: var(--shadow) var(--box-shadow);
    color: var(--dark-btn-text);
    font-weight: 600;
    text-decoration: none;

}

.secondary-btn {
    background-color: var(--secondary-btn);
    color: var(--dark-btn-text);
    padding: 12px 36px;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;

}
.guide {
    width: 60%;
    height: 60%;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: var(--main-bg-color);
    border: var(--main-border);
    box-shadow: var(--shadow) var(--box-shadow);
    border-radius: 8px;
}

.guide img {
height: 200px;
width: auto;
}